@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container {
    height: 100vh;
    background-color:rgb(236, 249, 250);
}
.name {
    font-size: 50px;
    letter-spacing: 15px;
    font-family: "Acme", sans-serif;
    font-weight: 550;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 18px;
}

.tic {
    color: rgb(254, 163, 163);
}
.tac {
    color:rgb(252, 213, 59)
}
.toe {
    color:rgb(14, 233, 218)
}
.turn {
    font-size: 30px;
    margin-right: 3px;
    font-family: "Acme", sans-serif;
    font-weight: 550;
    margin-top: 70px;
}

.game-box {
    background-color: white;
    width: 315px;
    height: 315px;
    margin-left: 482px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Acme", sans-serif; 
    font-weight: 550;
    font-size: 36px;
    color:rgb(65, 184, 195);
    padding-top: 18px;
    padding-left: 17px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.box1 {
    width: 93px;
    height: 93px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-color: rgb(52, 51, 51);
    border-bottom-color: rgb(52, 51, 51);
    padding-top: 20px;
    
}
.box2 {
    width: 93px;
    height: 93px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-color: rgb(52, 51, 51);
    border-right-color: rgb(52, 51, 51);
    padding-top: 20px;
}
.box2 {
    width: 93px;
    height: 93px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-color: rgb(52, 51, 51);
    border-bottom-color: rgb(52, 51, 51);
    padding-top: 20px;
}
.box3 {
    width: 93px;
    height: 93px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(52, 51, 51);
    padding-top: 20px; 
}

.box6 {
    width: 93px;
    height: 93px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(52, 51, 51);
    padding-top: 20px;
}
.box7 {
    width: 93px;
    height: 93px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(52, 51, 51);  
    padding-top: 20px;
}
.box8 {
    width: 93px;
    height: 93px; 
    padding-top: 20px;
}

.hide {
    display: none;
}
.winner{
    font-size: "40px";
    font-family: "Acme", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.button {
    border: 0px;
    width: 80px;
    height: 40px;
    background-color: rgb(194, 84, 187);
    color: #ffffff;
    font-size: 20px;
    font-family: "Acme", sans-serif;
    border-radius: 15px;
    margin-left: 600px;
    margin-top: 20px;
}

.players {
    width: 230px;
    height: 230px;
    margin-left: 523px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(85, 220, 209);
    border-radius: 50%;
}

.player {
    font-size: 150px;
    font-family: "Dancing Script";
    font-weight: 800;
    color: #ffffff;
    margin-right: 40px;
    padding-top: 15px;
    padding-left: 30px;
}
